html, body, h1, h2, h3, h4, h5, h6
{
    font-family: "Open Sans", sans-serif;
}
body {
    background: fixed #050402 url(upp-pre-bg.jpg) 50% 0% no-repeat;
    background-size: cover; 
}
#wrap {
    background-color: #fff;
    padding-top: 35px;
    padding-bottom: 35px; 
}